<div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
    <div class="message-body">
        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
            <i class="ti ti-at fs-6"></i>
            <p class="mb-0 fs-3">@authState?.User?.Identity?.Name</p>
        </a>
        <a href='@ProfileUrl()' class="d-flex align-items-center gap-2 dropdown-item">
            <i class="ti ti-settings fs-6"></i>
            <p class="mb-0 fs-3">Sozlamalar</p>
        </a>
        <a href="#" @onclick='BeginSignOut' class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
    </div>
</div>