@page "/"

<PageTitle>Index</PageTitle>
                
<body>
    <div class="dashboard">

        <div class="sidebar">
            <div class="sidebar-menu">
                <img src="../images/vector.png">
            </div>
            <div class="sidebar-text">
                <button class="quizbtn">Quizlarim</button>
            </div>
            <div class="profile">
                <div>
                    <img src="../images/frame.svg">
                </div>
                <div class="username">
                    <span>&#64;wahidustoz</span>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="create-button">
                <a href="#">
                    <p>Create</p>
                </a>
            </div>                
        </div>

    </div>
</body>