<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="card modal-dialog modal-lg">
        <div class="card-body">
            <h2 class="fw-semibold">Nimalarga qiziqasiz?</h2>
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="fw-semibold mb-2 mt-4 lead fw-semibold">Dasturlash tillari</p>
                    <div class="col">
                        <span class="badge rounded-pill bg-secondary p-2 m-1">C#</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Java</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">JavaScript</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Python</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">PHP</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Ruby</span>
                    </div>

                    <p class="fw-semibold mb-2 mt-4 lead fw-semibold">Frameworklar</p>
                    <div class="col">
                        <span class="badge rounded-pill bg-success p-2 m-1">ASP.NET</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Spring Boot</span>
                        <span class="badge rounded-pill bg-success p-2 m-1">React</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Django</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Laravel</span>
                        <span class="badge rounded-pill bg-success p-2 m-1">Ruby on Rails</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Angular</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Vue.js</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Express.js</span>
                        <span class="badge rounded-pill bg-success p-2 m-1">Flask</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Symfony</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">ASP.NET Core</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Play Framework</span>
                        <span class="badge rounded-pill bg-success p-2 m-1">Ember.js</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">RubyMotion</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Meteor</span>
                        <span class="badge rounded-pill bg-success p-2 m-1">CakePHP</span>
                        <span class="badge rounded-pill bg-secondary p-2 m-1">Sinatra</span>
                        <span class="badge rounded-pill bg-success p-2 m-1">Sails.js</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Hammasi tayyor</button>
            </div>
        </div>
    </div>
</div>
