<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Forms</h5>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="title" class="form-control" id="title" aria-describedby="title">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label">OpeningDateTime</label>
                                <input type="date" class="form-control" id="openingDateTime">
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label">ClosingDateTime</label>
                                <input type="date" class="form-control" id="closingDateTime">
                            </div>
                            <div class="mb-3">
                                <label for="disabledSelect" class="form-label">IsPublic</label>
                                <select id="disabledSelect" class="form-select">
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                @{
                                    <button type="submit" class="btn btn-primary" @onclick="ShowTagsComponent">Tags</button>
                                }
                            </div>
                            <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool Visible { get; set; } = false;
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }
    private void ShowTagsComponent()
    {
        Visible = false;
        VisibleChanged.InvokeAsync(Visible);
    }


}